# EDA simple project

## Preparations

In [183]:
# import all libraries/packages
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from matplotlib.ticker import PercentFormatter
plt.rcParams.update({ "figure.figsize" : (8, 5),"axes.facecolor" : "white", "axes.edgecolor":  "black"})
plt.rcParams["figure.facecolor"]= "w"
pd.plotting.register_matplotlib_converters()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [217]:
from detect_special_char import spe_char

In [218]:
spe_char("@")

False

In [184]:
# import dataset
df = pd.read_csv('data/King_County_House_prices_dataset.csv')

## Understand the data

In [185]:
# print out the shape and the head of the dataset
print(df.shape)
df.tail(15)

(21597, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21582,8956200760,10/13/2014,541800.000,4,2.500,3118,7866,2.000,NaN,2.000,...,9,3118,0.0,2014,0.000,98001,47.293,-122.264,2673,6500
21583,7202300110,9/15/2014,810000.000,4,3.000,3990,7838,2.000,0.000,0.000,...,9,3990,0.0,2003,NaN,98053,47.686,-122.046,3370,6814
21584,249000205,10/15/2014,1540000.000,5,3.750,4470,8088,2.000,0.000,0.000,...,11,4470,0.0,2008,0.000,98004,47.632,-122.200,2780,8964
21585,5100403806,4/7/2015,467000.000,3,2.500,1425,1179,3.000,0.000,0.000,...,8,1425,0.0,2008,0.000,98125,47.696,-122.318,1285,1253
21586,844000965,6/26/2014,224000.000,3,1.750,1500,11968,1.000,NaN,0.000,...,6,1500,0.0,2014,0.000,98010,47.309,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.000,3,2.500,2270,5536,2.000,NaN,0.000,...,8,2270,0.0,2003,0.000,98065,47.539,-121.881,2270,5731
21588,9834201367,1/26/2015,429000.000,3,2.000,1490,1126,3.000,0.000,0.000,...,8,1490,0.0,2014,0.000,98144,47.570,-122.288,1400,1230
21589,3448900210,10/14/2014,610685.000,4,2.500,2520,6023,2.000,0.000,NaN,...,9,2520,0.0,2014,0.000,98056,47.514,-122.167,2520,6023
21590,7936000429,3/26/2015,1010000.000,4,3.500,3510,7200,2.000,0.000,0.000,...,9,2600,910.0,2009,0.000,98136,47.554,-122.398,2050,6200
21591,2997800021,2/19/2015,475000.000,3,2.500,1310,1294,2.000,0.000,0.000,...,8,1180,130.0,2008,0.000,98116,47.577,-122.409,1330,1265
21592,263000018,5/21/2014,360000.000,3,2.500,1530,1131,3.000,0.000,0.000,...,8,1530,0.0,2009,0.000,98103,47.699,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.000,4,2.500,2310,5813,2.000,0.000,0.000,...,8,2310,0.0,2014,0.000,98146,47.511,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.000,2,0.750,1020,1350,2.000,0.000,0.000,...,7,1020,0.0,2009,0.000,98144,47.594,-122.299,1020,2007
21595,291310100,1/16/2015,400000.000,3,2.500,1600,2388,2.000,NaN,0.000,...,8,1600,0.0,2004,0.000,98027,47.535,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.000,2,0.750,1020,1076,2.000,0.000,0.000,...,7,1020,0.0,2008,0.000,98144,47.594,-122.299,1020,1357

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

Quickly check each column, following clean up processes need to be done. ()

  Data Types:
| Column name   | Clean up |  Description |
| ---           | ---      | ----------- |
| id            | maybe drop?            | unique identified for a house|
| date          | change to data type| house was sold |
| price         | drop the digits behind, set to int| is prediction target |
| bedrooms      | OK |  |
| bathrooms     | OK|  |
| sqft_living   |  |  |
| sqft_lot      |   | |
| floors        | round to 1 digit | values are array([1. , 2. , 1.5, 3. , 2.5, 3.5]) |
| waterfront    | Drop | House which has a view to a waterfront |
| view          |  | |
| conditions    |  | |
| grade         |  |  |
| sqft_above    |  | |
| sqft_basement | str->int type, some values need to be replaced | square footage of the basement |
| yr_built      | change to year |  |
| yr_renovated  |  |  |
| zipcode       |  |  |
| lat           |  |  |
| long          |  | |
| sqft_living15 |  |  |
| sqft_lot15    |  |  |

- Object: `date` needs to be transferred to Date, `sqft_basement` -> int64
- float64: 
- Date type: `date`, `yr_built`,`yr_renovated`
- There are NO duplicated rows found

In [187]:
# Drop columns not needed
df.drop('waterfront', axis=1, inplace=True)

## Data type and transforming

**Date entry**: `date` and `yr_built` `yr_renovated`

In [188]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.000,3,1.000,1180,5650,1.000,0.000,3,7,1180,0.0,1955,0.000,98178,47.511,-122.257,1340,5650
1,6414100192,12/9/2014,538000.000,3,2.250,2570,7242,2.000,0.000,3,7,2170,400.0,1951,1991.000,98125,47.721,-122.319,1690,7639
2,5631500400,2/25/2015,180000.000,2,1.000,770,10000,1.000,0.000,3,6,770,0.0,1933,NaN,98028,47.738,-122.233,2720,8062
3,2487200875,12/9/2014,604000.000,4,3.000,1960,5000,1.000,0.000,5,7,1050,910.0,1965,0.000,98136,47.521,-122.393,1360,5000
4,1954400510,2/18/2015,510000.000,3,2.000,1680,8080,1.000,0.000,3,8,1680,0.0,1987,0.000,98074,47.617,-122.045,1800,7503

In [189]:
# find out NaN value in renovated year
pd.isna(df.yr_renovated).value_counts()

False    17755
True      3842
Name: yr_renovated, dtype: int64

In [190]:
# find out how many houses are not renovated
df.query('yr_renovated==0').id.count()

17011

In [191]:
# df.yr_renovated.astype(str).unique()

In [200]:
# Change date to date type
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')
df['yr_built'] = pd.to_datetime(df['yr_built'], format='%Y').dt.year

For renovation year, because there are NaN and 0 data, we use `errors='ignore'` to solve the issue

In [ ]:
# for year in df.yr_renovated, be
df['yr_renovated'] = pd.to_datetime(df['yr_renovated'], format='%Y.0', errors='ignore')

Casting to int

In [201]:
# casting price  to int so long there is no missing value
df.price = df.price.astype(int)
df.view = df.view.astype(int)

# df.sqft_basement = df.sqft_basement.astype(int)


df.round({"bathrooms":2, "floors":1, "sqft_basement":1})

# df['floors'] = df.floors.round(2)

# Bathrooms round to 2
# df['bathrooms'] = df.bathrooms.astype(float).round(2)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

### Handling Missing Data

In [199]:
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

- The colum names are pythonic
- There are NaN data
- drop columns: , waterfront